extends ../layouts/master.pug

include ../components/form-components

block header 

block content
  .admin 
    .container 
      .admin__top 
        .product-tabs(data-admin-tabs='')
          each item, i in ['Общая информация', 'Календарь', 'Цены'] 
            .product-tabs__item 
              .product-tabs__tab(data-admin-item='' class=(i === 0) ? 'active' : '')
                h2 
                  |#{item}
      form.form(action="/") 
        .admin__tab.active
          .admin__section
            .admin__block 
              .admin__text.admin__right 
                |Название тура
              .admin__big
                +input(type = 'text' name = 'name')
            .admin__block 
              .admin__text.admin__right 
                |Активность
              .checkbox
                label.checkbox__label
                  input.checkbox__input(type="checkbox" name='checkbox-1' required)
                  .checkbox__box 
                    +check-svg.checkbox__svg
            .admin__block 
              .admin__text.admin__right 
                |Сортировка
              .admin__md
                +input(type = 'text' name = 'name')
          .admin__section 
            .admin__block
              .admin__col  
                .admin__row 
                  .admin__horiz
                    .admin__text
                      |Укажите тип
                  .admin__horiz
                    .admin__item 
                      +checkbox(text='Индивидуальные')
                    .admin__item 
                      +checkbox(text='Групповые')
          .admin__section 
            .admin__col 
              .admin__text 
                |Укажите продолжительность экскурсии
              .admin__row 
                .admin__block 
                  .admin__text
                    |Часы
                  .admin__block-item.admin__mid
                    +input.form__input--small(type = 'text' name = 'hour' placeholder = 'Значение')
          .admin__section 
            .admin__col 
              .admin__horiz 
                .admin__text 
                  |Укажите доступность для инвалидов
              .admin__horiz
                +checkbox(text = 'Доступно')
          .admin__section
            .admin__col
              .admin__container
                .admin__block 
                  .admin__col
                    .admin__caption 
                      |В стоимость тура входит
                    .admin__row
                      .admin__ll 
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                .admin__block 
                  .admin__col
                    .admin__caption 
                      |В стоимость тура не входит
                    .admin__row   
                      .admin__ll
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
                        .admin__horiz 
                          +input(type = 'text' name = 'text')
              .admin__row   
                a.admin__show(href="#") 
                  |Добавить еще
          .admin__section 
            .admin__col
              .admin__text 
                |Описание
              .admin__row 
                .admin__big 
                  textarea.form__textarea(name='message')
          .admin__section 
            .admin__large 
              button.button.button--xxl(type='submit')
                |Сохранить
        .admin__tab 
          .admin__section
            .admin__col 
              .admin__container
                .admin__block 
                  .admin__text.admin__right 
                    |От
                  .admin__ll 
                    input.form__input(type="text" name='start' data-change-start='' data-date-input='' placeholder='dd.mm.yyyy')       
                .admin__block 
                  .admin__text.admin__right 
                    |До
                  .admin__ll
                    input.form__input(type="text" name='end' data-change-end='' data-date-input='' placeholder='dd.mm.yyyy')      
              .admin__row 
                .admin__container
                  each item in ['Пн.', 'Вт.', 'Ср.', 'Чт.', 'Пт.', 'Сб.', 'Вс.']
                    .admin__item(data-admin-checkbox-item='') 
                      .admin__horiz
                        .admin__text
                          |#{item}
                      .admin__horiz
                        .checkbox 
                        label.checkbox__label
                          input.checkbox__input(type="checkbox" name='checkbox-1')
                          .checkbox__box 
                            +check-svg.checkbox__svg
          .admin__section 
            .admin__large 
              .button.button--xxl(data-admin-button='group')
                |Изменить
          .admin__section 
            .admin__head 
              .admin__block 
                .product-tabs
                  .product-tabs__item 
                    .product-tabs__tab.active
                      .admin__text
                        |2021
                  .product-tabs__item 
                    .product-tabs__tab
                      .admin__text
                        |2022
                .admin__block
                  a.admin__text(href="#") 
                    |Добавить
              each month, index in ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь',]
                -
                  var count = 1
                .admin__calendar 
                  .admin__calendar-row 
                    .admin__mid
                    .admin__text 
                      |#{month}
                  each week in [1, 2, 3, 4]
                    .admin__calendar-row 
                      .admin__mid 
                        .admin__text 
                          |Неделя #{week}
                      .admin__container
                        each item, i in [3, 3, 3, 5, 3, 3, 7] 
                          .admin__block(data-admin-button='single' data-calendar-data=`2021-0${index + 1}-${count < 10 ? '0' + count++ : count++}`)
                            .calendar-card 
                              .calendar-card__container 
                                .calendar-card__item 
                                  .admin__text(data-calendar-status='')  
                                    |Активен
                                .calendar-card__item 
                                  .admin__text(data-calendar-start='')  
                                    |11:00
                                  .admin__text.admin__horiz(data-calendar-end='')  
                                    |18:00
                                .calendar-card__item 
                                  .admin__text(data-calendar-day='') 
                                    |#{item} дня
          .admin__section 
            .admin__large 
              button.button.button--xxl(type='submit')
                |Сохранить
        .admin__tab 
          .admin__section
            .admin__col 
              .admin__row 
                h3.admin__title 
                  |Укажите сезон для формирования цены
              .admin__row.admin__big
                .admin__horiz.admin__horiz--noflex 
                  .select-wrapper
                    .select
                      select.select__select(name="activity" style='width: 100%') 
                        option(value = '1')
                          |Высокий сезон 2021
                        option(value = '2')
                          |2
                        option(value = '3')
                          |3
                        option(value = '4')
                          |4
                        option(value = '5')
                          |5
                .admin__horiz.admin__horiz--noflex 
                  .select-wrapper
                    .select
                      select.select__select(name="activity" style='width: 100%') 
                        option(value = '1')
                          |Низкий сезон 2021
                        option(value = '2')
                          |2
                        option(value = '3')
                          |3
                        option(value = '4')
                          |4
                        option(value = '5')
                          |5
                .admin__horiz.admin__horiz--noflex 
                  .select-wrapper
                    .select
                      select.select__select(name="activity" style='width: 100%') 
                        option(value = '1')
                          |Выберите сезон
                        option(value = '2')
                          |2
                        option(value = '3')
                          |3
                        option(value = '4')
                          |4
                        option(value = '5')
                          |5
                .admin__horiz.admin__horiz--noflex 
                  a.admin__show(href="#") 
                    |Добавить еще
          .admin__section 
            .admin__col 
              .admin__row 
                .admin__block 
                  .admin__block.admin__big 
                  .admin__block 
                    .admin__text
                      |Высокий сезон 2021
                  .admin__left 
                    .admin__text
                      |Низкий сезон 2021
              .admin__row 
                .admin__block 
                  .admin__block.admin__block--end.admin__big
                    .admin__text
                      |Время работы гида (ВГ)
                  .admin__block 
                    .admin__mid 
                      +input(type = 'text' name = 'text')
                  .admin__block 
                    .admin__mid 
                      +input(type = 'text' name = 'text')
                  .admin__block.admin__big
                    .admin__text.admin__text--end
                      |Количество человек, при котором плюсуюется наценка (УШМИН)
                  .admin__block 
                    .admin__block-item.admin__mid
                      .admin__text
                        |Количество
                    .admin__block-item
                      .admin__mid 
                        +input.form__input--small(type = 'text' name = 'text' placeholder='значение')
              .admin__row 
                .admin__block 
                  .admin__block.admin__block--end.admin__big
                    .admin__text
                      |Время работы транспорта (ВТ)
                  .admin__block 
                    .admin__mid 
                      +input(type = 'text' name = 'text')
                  .admin__block 
                    .admin__mid 
                      +input(type = 'text' name = 'text')
              .admin__row 
                .admin__block 
                  .admin__block.admin__block--end.admin__big
                    .admin__text
                      |Билетный пакет для взрослых (БВ)
                  .admin__block 
                    .admin__mid 
                      +input(type = 'text' name = 'text')
                  .admin__block 
                    .admin__mid 
                      +input(type = 'text' name = 'text')
              .admin__row 
                a.admin__show(href="#") 
                  |Добавить произвольное значение
          .admin__section 
            .admin__col  
              .admin__row 
                .admin__horiz
                  .admin__text
                    |Укажите язык
                .admin__horiz
                  .admin__grid
                    .admin__item 
                      +checkbox(text='Русский')
                    .admin__item 
                      +checkbox(text='Английский')
                    .admin__item 
                      +checkbox(text='Немецкий')
                    .admin__item.admin__first
                      +checkbox(text='Французский')
                    .admin__item 
                      +checkbox(text='Итальянский')
                    .admin__item 
                      +checkbox(text='Шведский')
          .admin__section 
            .admin__block 
              .admin__text 
                |Экскурсионка
              .admin__block   
                - for (i = 1; i < 13; i++)
                  .admin__block-item
                    .admin__mid 
                      .admin__text.admin__text--center
                        |#{i}
                      .admin__horiz 
                        +input.form__input--small(type = 'text' name = 'text' placeholder='стоимость')
          .admin__section 
            .admin__col
              h3
                |Настройка акций
              .admin__row
                .admin__container
                  .addmin__col
                    .admin__text 
                      |Время действия акций
                    .admin__horiz 
                      .admin__block 
                        .admin__text.admin__right 
                          |от
                        .admin__mid 
                          +input(type = 'text' name = 'text')
                      .admin__block 
                        .admin__text.admin__right 
                          |до
                        .admin__mid 
                          +input(type = 'text' name = 'text')
                  .admin__block
                    .admin__col 
                      .admin__text 
                        |Укажите размер скидки в процентах
                      .admin__horiz.admin__mid 
                        +input(type = 'text' name = 'text')
                .admin__row 
                  a.admin__show(href="#") 
                    |Добавить еще промежуток
          .admin__section 
            .admin__large 
              button.button.button--xxl(type='submit')
                |Сохранить
  .modals 
    .modal(data-admin-modal='')
      .modal__container
        form.form.admin(action="/") 
          .select-wrapper(data-admin-select='')
            .select
              select.select__select(name="time" style='width: 100%' data-select-placeholder='Статус' data-select-value='') 
                option
                option(value = 'open')
                  |Активен
                option(value = 'close')
                  |Не активен
          .admin__row 
            .admin__block 
              .admin__text 
                |Время начала
              .admin__block-item 
                input.form__input(data-modal-start='' type="text" name='start' data-time-input='') 
          .admin__row 
            .admin__block 
              .admin__text 
                |Время начала
              .admin__block-item 
                input.form__input(data-modal-end='' type="text" name='end' data-time-input='') 
          .admin__row 
            .admin__block
              .admin__text.admin__right 
                |Закрытие автотической оплаты
              .admin__col
                input.form__input(data-close-input='' type="text" name='close') 
          .admin__row 
            button.button.button--xxl
              |Сохранить

block footer