extends ../layouts/master.pug

include  ../components/navigation
include  ../components/tour
include  ../components/aside
include  ../components/landmark-card

block content 
  .landmarks-page
    section.section.section--first
      .container
        +navigation(items=['Landmarks'] page="Landmarks of Saint Petersburg")
    section.section.section--md 
      .container 
        .row 
          .row__col
            .aside.active(data-accordion='')
              .aside__container 
                +aside-button
                .aside__dropdown(data-accordion-dropdown='')
                  ul.landmarks-page__list 
                    each item, i in ['Saint Petersburg', 'Moscow', 'Novgorod', 'Tallinn', 'Helsinki', 'Porvoo', 'Berlin', 'Rostock/Warnemünde', 'Schwerin', 'Stockholm', 'Copenhagen']
                      li.landmarks-page__item(class=((i === 0) ? 'active' : '') data-accordion='' data-aos='fade-up')
                        .landmarks-page__button(data-accordion-button='')
                          .landmarks-page__city
                            |#{item}
                          .landmarks-page__icon 
                            +big-plus-svg.landmarks-page__svg
                        .landmarks-page__dropdown(data-accordion-dropdown='' style=((i === 0) ? 'display: block' : ''))
                          ul.landmarks-page__dropdown-list
                            li.landmarks-page__dropdown-item
                              a.landmarks-page__dropdown-text(href="#") 
                                |City sights
                            li.landmarks-page__dropdown-item(data-accordion='')
                              .landmarks-page__dropdown-button(data-accordion-button='')
                                .landmarks-page__dropdown-text
                                  |Museums
                                .landmarks-page__icon 
                                  +big-plus-svg.landmarks-page__svg
                              .landmarks-page__dropdown(data-accordion-dropdown='')
                                ul.landmarks-page__dropdown-list
                                  each item in ['Pushkin', 'Peterhof', 'Pavlovsk', 'Kronshtadt', 'Gatchina']
                                    li.landmarks-page__dropdown-item
                                      a.landmarks-page__dropdown-text(href="#") 
                                        |#{item}
                            each item in ['Palaces', 'Cathedrals and monasteries', 'Fortresses', 'Theaters']
                              li.landmarks-page__dropdown-item
                                a.landmarks-page__dropdown-text(href="#") 
                                  |#{item}
                            li.landmarks-page__dropdown-item(data-accordion='')
                              .landmarks-page__dropdown-button(data-accordion-button='')
                                .landmarks-page__dropdown-text
                                  |Suburbs
                                .landmarks-page__icon 
                                  +big-plus-svg.landmarks-page__svg
                              .landmarks-page__dropdown(data-accordion-dropdown='')
                                ul.landmarks-page__dropdown-list
                                  each item in ['Pushkin', 'Peterhof', 'Pavlovsk', 'Kronshtadt', 'Gatchina']
                                    li.landmarks-page__dropdown-item
                                      a.landmarks-page__dropdown-text(href="#") 
                                        |#{item}
          .row__col
            .row__grid
              each item in data.landmarksSaintPeter
                +landmark-card(src = item.src title = item.title)
            .button-wrapper(data-aos='fade-up')
              +button(tag='div')
                |Show more
            +tour(text = data.landmarksTour title = 'Landmarks of Saint Petersburg')

//- ul.landmarks-page__list 
//-                     each item in ['City sights', 'Museums', 'Palaces', 'Cathedrals and monasteries', 'Fortresses', 'Theaters', 'Suburbs', ]
//-                       li.landmarks-page__item 
//-                         a.landmarks-page__link(href="#") 
//-                           |#{item}