mixin aside 
  .aside.active(data-accordion='')
    .aside__container(data-aos='fade-up')
      +aside-button
      .aside__dropdown(data-accordion-dropdown='')
        if (attributes.cruise)
          ul.aside__list 
            li.aside__item 
              .aside__top
                .aside__type 
                  |Port
              .aside__body
                each text in ['Saint Petersburg', 'Warnemunde/Rostok', 'Stokholm', 'Tallin', 'Helsinki', 'Copenhagen']
                  label.aside__label
                    input.aside__input(type="checkbox" name='checkbox' value='1')
                    .aside__checkbox
                      +check-svg.aside__svg
                    .aside__text 
                      |#{text}
            li.aside__item.aside__item--select
              .aside__top 
                .aside__type 
                  |Language
              .aside__body
                .select-wrapper
                  .select.select--md
                    select.select__mobile(name="language-mob" data-aside-select='')
                      option(value="" disabled selected)
                        |Select language
                      each item in data.selectValues.language
                        option(value = item.value)
                          |#{item.value}
                    select.select__select(name="lang" style='width: 100%' data-select-placeholder='Select language') 
                      option
                      each item in data.selectValues.language
                        option(value = item.value)
                          |#{item.value}
            li.aside__item 
              .aside__top
                .aside__type 
                  |Type
              .aside__body
                each text in ['Individual', 'Group',]
                  label.aside__label
                    input.aside__input(type="checkbox" name='checkbox' value='1')
                    .aside__checkbox
                      +check-svg.aside__svg
                    .aside__text 
                      |#{text}
            li.aside__item 
              .aside__top
                .aside__type 
                  |Features
              .aside__body
                each text in ['First choice', 'Special interest', 'Child friendly',]
                  label.aside__label
                    input.aside__input(type="checkbox" name='checkbox' value='1')
                    .aside__checkbox
                      +check-svg.aside__svg
                    .aside__text 
                      |#{text}
            li.aside__item 
              .aside__top
                .aside__type 
                  |Tour duration
              .aside__body
                label.aside__label
                  input.aside__input(type="checkbox" name='checkbox' value='1')
                  .aside__checkbox
                    +check-svg.aside__svg
                  .tooltip
                    .aside__text 
                      |Half-day tours
                      span.tooltip__span 
                        .tooltip__icon 
                          +tooltip-svg.tooltip__svg
                      .tooltip__container   
                        |#{data.tooltipText}
                each text in ['1-day tours', '2-day tours', '3-day tours',]
                  label.aside__label
                    input.aside__input(type="checkbox" name='checkbox' value='1')
                    .aside__checkbox
                      +check-svg.aside__svg
                    .aside__text 
                      |#{text}
            li.aside__item 
              .aside__top
                .tooltip.tooltip--padr5
                  .aside__type 
                    |Availability for wheelchair-users
                    span.tooltip__span
                      .tooltip__icon 
                        +tooltip-svg.tooltip__svg
                  .tooltip__container 
                    |#{data.tooltipText}
              .aside__body
                label.aside__label
                  input.aside__input(type="checkbox" name='checkbox' value='1')
                  .aside__checkbox
                    +check-svg.aside__svg
                  .aside__text 
                    |Wheelchair-friendly
            li.aside__item 
              .aside__top
                .aside__type 
                  |Sale
              .aside__body
                label.aside__label
                  input.aside__input(type="checkbox" name='checkbox' value='1')
                  .aside__checkbox
                    +check-svg.aside__svg
                  .aside__text 
                    |On sale 
        else
          ul.aside__list
            li.aside__item
              .aside__top 
                .aside__type 
                  |City
              .aside__body
                .select-wrapper
                  .select.select--md
                    select.select__mobile(name="location-mob")
                      option(value="" disabled selected)
                        |Select city
                      each item in data.selectValues.locations
                        option(value = item.value)
                          |#{item.value}
                    select.select__select(name="location" style='width: 100%' data-select-placeholder='Select city') 
                      option
                      each item in data.selectValues.locations
                        option(value = item.value)
                          |#{item.value} 
            li.aside__item
              .aside__top 
                .aside__type 
                  |Language
              .aside__body
                .select-wrapper
                  .select.select--md
                    select.select__mobile(name="language-mob" data-aside-select='')
                      option(value="" disabled selected)
                        |Select language
                      each item in data.selectValues.language
                        option(value = item.value)
                          |#{item.value}
                    select.select__select(name="lang" style='width: 100%' data-select-placeholder='Select language') 
                      option
                      each item in data.selectValues.language
                        option(value = item.value)
                          |#{item.value}
            each item in data.asideExcursion
              li.aside__item
                .aside__top
                  .aside__type 
                    |#{item.type}
                .aside__body
                  each text in item.options
                    label.aside__label
                      input.aside__input(type="checkbox" name='checkbox' value='1')
                      .aside__checkbox
                        +check-svg.aside__svg
                      .aside__text 
                        |#{text.text}
            li.aside__item
              .aside__top
                .tooltip 
                  .aside__type 
                    |Availability for wheelchair-users
                    span.tooltip__span
                      .tooltip__icon 
                        +tooltip-svg.tooltip__svg
                  .tooltip__container 
                    |#{data.tooltipText}
              .aside__body
                label.aside__label
                  input.aside__input(type="checkbox" name='checkbox' value='1')
                  .aside__checkbox
                    +check-svg.aside__svg
                  .aside__text 
                    |Wheelchair-friendly
            li.aside__item
              .aside__top
                .aside__type 
                  |Sale
              .aside__body
                label.aside__label
                  input.aside__input(type="checkbox" name='checkbox' value='1')
                  .aside__checkbox
                    +check-svg.aside__svg
                  .aside__text 
                    |On sale 
        .aside__buttons
          .aside__buttons-item 
            .button-icon.animation(data-clear-button='')
              .button-icon__icon 
                +repeat-svg.button-icon__svg
              span.button-icon__text.animation__span
                |Clear
mixin aside-button 
  .aside-button(data-accordion-button='')
    .aside-button__text
      |Filters
    .aside-button__icon 
      +plus-svg.aside-button__svg