mixin calendar
  .admin__year
    each month, index in ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь',]
      -
        var count = 1
        var x = index + 1
      .admin__calendar 
        .admin__calendar-row 
          .admin__text 
            |#{month}
        - for (i = 0; i < 4; i++)
          .admin__calendar-row
            .admin__container
              each item in [3, 3, 3, 5, 3, 3, 7]
                .admin__block(data-admin-button='single' data-calendar-data=`2021-${index < 10 ? "0" + x : x}-${count < 10 ? '0' + count++ : count++}` data-status='active')
                  .admin__col
                    .admin__date
                      |#{count < 10 ? '0' + (count - 1) : (count - 1)}.#{index < 10 ? "0" + x : x}.2021
                    .calendar-card
                      .calendar-card__container 
                        .calendar-card__item 
                          .admin__text(data-calendar-status='') 
                            |Активен
                        .calendar-card__item 
                          .admin__text(data-calendar-day='')
                            |#{item} дня
        .admin__calendar-row
          .admin__container
            each item in [3, 3, 3,]
              .admin__block(data-admin-button='single' data-calendar-data=`2021-${index < 10 ? "0" + x : x}-${count < 10 ? '0' + count++ : count++}` data-status='active')
                .admin__col
                  .admin__date
                    |#{count < 10 ? '0' + (count - 1) : (count - 1)}.#{index < 10 ? "0" + x : x}.2021
                  .calendar-card
                    .calendar-card__container 
                      .calendar-card__item 
                        .admin__text(data-calendar-status='') 
                          |Активен
                      .calendar-card__item 
                        .admin__text(data-calendar-day='')
                          |#{item} дня

mixin hard-calendar 
  .admin__year
    each month, index in ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь',]
      -
        var count = 1
        var x = index + 1
      .admin__calendar 
        .admin__calendar-row 
          .admin__text 
            |#{month}
        - for (i = 0; i < 4; i++)
          .admin__calendar-row 
            .admin__container
              each item in [3, 3, 3, 5, 3, 3, 7] 
                .admin__block(data-admin-button='single' data-calendar-data=`2021-${index < 10 ? "0" + x : x}-${count < 10 ? '0' + count++ : count++}` data-status='active')
                  .admin__col
                    .admin__date
                      |#{count < 10 ? '0' + (count - 1) : (count - 1)}.#{index < 10 ? "0" + x : x}.2021
                    .calendar-card 
                      .calendar-card__container 
                        .calendar-card__item
                          .admin__text(data-calendar-status='') 
                            |Активен
                        .calendar-card__item 
                          .admin__text(data-calendar-start='') 
                            |11:00
                          .admin__text.admin__horiz(data-calendar-end='') 
                            |18:00
                        .calendar-card__item
                          .admin__text(data-calendar-day='')
                            |#{item} дня
        .admin__calendar-row 
          .admin__container
            each item in [3, 3, 3] 
              .admin__block(data-admin-button='single' data-calendar-data=`2021-${index < 10 ? "0" + x : x}-${count < 10 ? '0' + count++ : count++}` data-status='active')
                .admin__col
                  .admin__date
                    |#{count < 10 ? '0' + (count - 1) : (count - 1)}.#{index < 10 ? "0" + x : x}.2021
                  .calendar-card 
                    .calendar-card__container 
                      .calendar-card__item
                        .admin__text(data-calendar-status='') 
                          |Активен
                      .calendar-card__item 
                        .admin__text(data-calendar-start='') 
                          |11:00
                        .admin__text.admin__horiz(data-calendar-end='') 
                          |18:00
                      .calendar-card__item
                        .admin__text(data-calendar-day='')
                          |#{item} дня