//- Все миксины используются внутри индивидуальных экскурсий
mixin programm 
  .excursion-page__programm 
    h2(data-aos='fade-up') 
      |Programme
    if (attributes.tabs)
      .excursion-page__tabs(data-tabs='')
        .excursion-page__tabs-container
          each item, i in ['1st day', '2nd day', '3rd day']
            .excursion-page__tabs-item(data-aos='fade-up'  )
              .excursion-page__tabs-tab(data-tabs-item='' class=((i === 0) ? 'active' : ''))
                |#{item}
    ul.excursion-page__programm-list 
      if (attributes.label)
        li.excursion-page__programm-item(data-aos='fade-up')  
          .excursion-page__programm-row 
            .excursion-page__programm-col
              .excursion-page__programm-time 
                |8.30
            .excursion-page__programm-col
              .excursion-page__programm-text
                |Gathering on the ship
              .excursion-page__programm-card  
                .excursion-page__programm-label
                  |We can choose the most convenient time for you. Write about it in the tour when ordering
      each item in data.landProgramm
        li.excursion-page__programm-item(data-aos='fade-up')  
          .excursion-page__programm-row 
            .excursion-page__programm-col
              .excursion-page__programm-time 
                |#{item.time}
            .excursion-page__programm-col
              .excursion-page__programm-text
                |#{item.text}

mixin landmarks 
  .excursion-page__landmarks 
    .excursion-page__landmarks-row 
      .excursion-page__landmarks-col(data-aos='fade-up') 
        h2
          |Landmarks
      .excursion-page__landmarks-col
        ul.excursion-page__landmarks-list
          each item in data.landmarks 
            li.excursion-page__landmarks-item(data-aos='fade-up') 
              |#{item.text}
        if (attributes.button)
          .excursion-page__landmarks-btn(data-aos='fade-up') 
            .excursion-page__button.animation 
              span.animation__span 
                |Show all

mixin about
  .excursion-page__about(data-accordion)
    h2(data-aos='fade-up') 
      |About tour
    .excursion-page__about-content 
      p.excursion-page__about-text(data-aos='fade-up')   
        |Walking tour of St. Petersburg is one of our most popular, most popular excursions. In fact, this is a fascinating walking tour with a guide around St. Petersburg, in the very center, in the most beautiful and romantic places of the city. Fresh air, a beautiful city, an interesting story-what could be better!
      p.excursion-page__about-text(data-aos='fade-up') 
        |We tried to include the most beautiful places and the most important sights of St. Petersburg in our excursion-walk. We tried to make this route interesting and dynamic, but the tour route can be changed according to your wishes.
    .excursion-page__about-dropdown(data-accordion-dropdown='')
      .video 
        .video__container(data-aos='fade-up') 
          .video__img
            img(src="assets/images/video.jpg", alt="")
          .video__button 
            +play-svg.video__icon
    .excursion-page__about-btn(data-aos='fade-up') 
      .excursion-page__button(data-accordion-button='')
        span.excursion-page__about-default
          |Read more 
        span.excursion-page__about-open
          |Roll up

mixin calculator
  .calculator
    .calculator__container 
      h2(data-aos='fade-up') 
        |Calculate the cost
      .calculator__mobile 
        .calculator__top 
          .calculator__top-col
            .calculator__top-item(data-aos='fade-up')  
              .calculator__label
                |Date
              .calculator__text
                |28.10.2021
            .calculator__top-item(data-aos='fade-up')  
              .calculator__label
                |Time
              .calculator__text
                |11:00
          .calculator__top-col
            .calculator__select(data-aos='fade-up')  
              .select-wrapper
                .select.select--small
                  select.select__mobile(name="location-mob")
                    option(value="" disabled selected)
                      |Location
                    each item in data.selectValues.language
                      option(value = item.value)
                        |#{item.value}
                  select.select__select(name="location" style='width: 100%' data-select-placeholder='Location') 
                    option
                    each item in data.selectValues.language
                      option(value = item.value)
                        |#{item.value} 
        h4.calculator__title(data-aos='fade-up') 
          |Number of people
        .calculator__grid
          each item in ['Adults', 'Students with ISIC', 'Children 6-16 years old', 'Children 0-6 years old',]
            .calculator__item(data-aos='fade-up') 
              .calculator__label 
                |#{item}
            .calculator__item(data-aos='fade-up') 
              .counter 
                .counter__item.counter__item--minus
                  +minus-svg.counter__minus
                .counter__number 
                  |0
                .counter__item.counter__item--plus
                  +plus-svg.counter__plus
          .calculator__grid-row 
            .calculator__grid-col(data-aos='fade-up') 
              .calculator__label 
                |Among them wheelchair users
              .counter 
                .counter__item.counter__item--minus
                  +minus-svg.counter__minus
                .counter__number 
                  |0
                .counter__item.counter__item--plus
                  +plus-svg.counter__plus
              .calculator__description 
                |Doesn’t influence the cost
            .calculator__grid-col(data-aos='fade-up') 
              .calculator__grid-item
                .calculator__label
                  |Number of people
                .calculator__num 
                  |7
              .calculator__grid-item
                .calculator__label
                  |Total amount
                .calculator__num 
                  |$1300
      .calculator__desktop
        .calculator__top 
          .calculator__top-col(data-aos='fade-up') 
            .calculator__top-item 
              .calculator__label
                |Date
              .calculator__text
                |28.10.2021
            .calculator__top-item 
              .calculator__label
                |Time
              .calculator__text
                |11:00
          .calculator__top-col(data-aos='fade-up') 
            .calculator__select 
              .select-wrapper
                .select.select--small
                  select.select__select(name="location" style='width: 100%' data-select-placeholder='Location') 
                    option
                    each item in data.selectValues.language
                      option(value = item.value)
                        |#{item.value}
          .calculator__top-col(data-aos='fade-up') 
            .calculator__top-item 
              .calculator__label
                |Number of people
              .calculator__num 
                |7
            .calculator__top-item 
              .calculator__label
                |Total amount
              .calculator__num 
                |$1265
        h4.calculator__title(data-aos='fade-up') 
          |Number of people
        .calculator__grid 
          each item in ['Adults', 'Students with ISIC', 'Children 6-16 years old', 'Children 0-6 years old',]
            .calculator__item(data-aos='fade-up')
              .calculator__label 
                |#{item}
            .calculator__item(data-aos='fade-up')
              .counter 
                .counter__item.counter__item--minus
                  +minus-svg.counter__minus
                .counter__number 
                  |0
                .counter__item.counter__item--plus
                  +plus-svg.counter__plus
          .calculator__item(data-aos='fade-up') 
            .calculator__label 
                |Among them wheelchair users
          .calculator__item(data-aos='fade-up')
            .counter 
              .counter__item.counter__item--minus
                +minus-svg.counter__minus
              .counter__number 
                |0
              .counter__item.counter__item--plus
                +plus-svg.counter__plus
            .calculator__description 
              |Doesn’t influence the cost
      if (attributes.events)
        .events#events.active(data-accordion='')
          .events__container 
            .events__head(data-accordion-button='')
              .events__head-row 
                .events__head-col(data-aos='fade-up')
                  h4
                    |Evening events are available
                .events__head-col(data-aos='fade-up')
                  .events__head-icon 
                    +arrow-svg.events__head-svg
            .events__body(data-accordion-dropdown='')
              .events__top(data-tabs='')
                .events__top-row 
                  .events__top-col 
                    each item, i in ['Folk show', 'Evening in the Faberge museum', 'Ballet evening', 'Classical Music Evening']
                      .events__top-item(data-aos='fade-up')
                        .events__tab(data-tabs-item='' class=((i === 0) ? 'active' : ''))
                          |#{item}
                        .events__top-button(data-fancy-button='2')
                          |Read more
                  .events__top-col 
                    each item in ['Evening boat trip', 'Russian dinner', 'Private car/minivan for an evening', 'White Nights Tour" (Draw Bridges)']
                      .events__top-item(data-aos='fade-up')
                        .events__tab(data-tabs-item='') 
                          |#{item}
                        .events__top-button(data-fancy-button='2')
                          |Read more
              .events__bot
                .events__bot-row 
                  .events__bot-col
                    .events__bot-item(data-aos='fade-up')
                      .calculator__label
                        |Date
                      .calculator__data  
                        .data-picker.data-picker--small
                          label.data-picker__label
                            .data-picker__icon 
                              +calendar-svg.data-picker__svg
                            input.data-picker__input(type="text" placeholder='28.10.2021')
                    .events__bot-item(data-aos='fade-up')
                      .calculator__label
                        |Number of people
                      .counter 
                        .counter__item.counter__item--minus
                          +minus-svg.counter__minus
                        .counter__number 
                          |1
                        .counter__item.counter__item--plus
                          +plus-svg.counter__plus
                  .events__bot-col
                    .events__bot-left(data-aos='fade-up')
                      .calculator__label
                        |Number of tickets
                      .calculator__num 
                        |7
                    .events__bot-right(data-aos='fade-up')
                      .calculator__label
                        |Total amount
                      .events__title
                        |To be discussed separately. The manager will contact you as soon as possible
    .calculator__payments
      .calculator__payments-title(data-aos='fade-up')  
        |We accept payments
      .calculator__payments-row(data-aos='fade-up') 
        .calculator__payments-item 
          .calculator__payments-icon 
            +visa-svg
        .calculator__payments-item 
          .calculator__payments-icon 
            +master-card-svg
        .calculator__payments-item 
          .calculator__payments-icon 
            +world-svg
    .calculator__price 
      .calculator__price-container
        .calculator__payments.calculator__payments--mobile
          .calculator__payments-title(data-aos='fade-up')  
            |We accept payments
          .calculator__payments-row(data-aos='fade-up') 
            .calculator__payments-item 
              .calculator__payments-icon 
                +visa-svg
            .calculator__payments-item 
              .calculator__payments-icon 
                +master-card-svg
            .calculator__payments-item 
              .calculator__payments-icon 
                +world-svg
        .calculator__price-row 
          .calculator__price-col
            .calculator__price-item(data-aos='fade-up')
              .calculator__price-label 
                |Old price
              .calculator__price-num
                |$1280
            .calculator__price-item(data-aos='fade-up')
              .calculator__price-label 
                |You save money
              .calculator__price-num
                |$20
          .calculator__price-col
            .calculator__price-left(data-aos='fade-up')
              .calculator__price-label
                |Number of people
              .calculator__price-number   
                |7
            .calculator__price-right(data-aos='fade-up')
              .calculator__price-label
                |Total amount
              .calculator__price-number   
                |$1280
          .calculator__price-col(data-aos='fade-up')
            .button-icon.button-icon--calculator.animation(data-fancy-button='11')
              .button-icon__icon
                +bag-svg
              span.button-icon__text.animation__span
                |Add to cart

mixin calculator-alt 
  .calculator.calculator--simple(class=attributes.class)
    .calculator__container 
      h2(data-aos='fade-up')
        |Calculate the cost
      .calculator__grid
        .calculator__item(data-aos='fade-up')
          .calculator__label 
            |Date
          .calculator__data
            .data-picker.data-picker--small
              label.data-picker__label
                .data-picker__icon 
                  +calendar-svg.data-picker__svg
                input.data-picker__input(type="text" placeholder='28.10.2021')
        .calculator__item(data-aos='fade-up')
          .calculator__label 
            |Time
          .calculator__select
            .select-wrapper
              .select.select--small
                select.select__mobile(name="location-mob")
                  option(value="" disabled selected)
                    |Location
                  each item in data.selectValues.language
                    option(value = item.value)
                      |#{item.value}
                select.select__select(name="location" style='width: 100%') 
                  each item in data.selectValues.time
                    option(value = item.value)
                      |#{item.value} 
        .calculator__item(data-aos='fade-up')
          .calculator__label 
            |Number of people
          .counter 
            .counter__item.counter__item--minus
              +minus-svg.counter__minus
            .counter__number 
              |1
            .counter__item.counter__item--plus
              +plus-svg.counter__plus
        .calculator__item(data-aos='fade-up')
          .calculator__label.calculator__label--big
            |Number of tickets
          .calculator__num 
            |7
        .calculator__item(data-aos='fade-up')
          .calculator__label.calculator__label--big
            |Total amount
          if (attributes.price)
            .calculator__num 
              |#{attributes.price}
          else 
            .calculator__num 
              |To be discussed separately. #[br] The manager will contact you as soon as possible.
    .calculator__payments
      .calculator__payments-title(data-aos='fade-up')  
        |We accept payments
      .calculator__payments-row(data-aos='fade-up') 
        .calculator__payments-item 
          .calculator__payments-icon 
            +visa-svg
        .calculator__payments-item 
          .calculator__payments-icon 
            +master-card-svg
        .calculator__payments-item 
          .calculator__payments-icon 
            +world-svg
    .calculator__price 
      .calculator__price-container
        .calculator__payments.calculator__payments--mobile
          .calculator__payments-title(data-aos='fade-up')  
            |We accept payments
          .calculator__payments-row(data-aos='fade-up') 
            .calculator__payments-item 
              .calculator__payments-icon 
                +visa-svg
            .calculator__payments-item 
              .calculator__payments-icon 
                +master-card-svg
            .calculator__payments-item 
              .calculator__payments-icon 
                +world-svg
        .calculator__price-row 
          .calculator__price-col
            .calculator__price-left(data-aos='fade-up')
              .calculator__price-label
                |Number of people
              .calculator__price-number   
                |7
            .calculator__price-right(data-aos='fade-up')
              .calculator__price-label
                |Total amount
              if (attributes.price)
                .calculator__price-number   
                  |#{attributes.price}
              else 
                .calculator__num  
                  |To be discussed separately. #[br] The manager will contact you as soon as possible.
          .calculator__price-col(data-aos='fade-up')
            .button-icon.button-icon--calculator.animation
              .button-icon__icon
                +bag-svg
              span.button-icon__text.animation__span
                |Add to cart